<a href="https://colab.research.google.com/github/shehreen3764/Employee-Burnout/blob/main/HackerEarth_EmployeeBurnout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Manipulation

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
trainData = pd.read_csv('/content/dataset/train.csv')
testData = pd.read_csv('/content/dataset/test.csv')

trainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee ID           22750 non-null  object
 1   Date of Joining       22750 non-null  object
 2   Gender                22750 non-null  object
 3   Company Type          22750 non-null  object
 4   WFH Setup Available   22750 non-null  object
 5   Designation           22750 non-null  float64
 6   Resource Allocation   21369 non-null  float64
 7   Mental Fatigue Score  20633 non-null  float64
 8   Burn Rate             21626 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.6+ MB

In [ ]:
#drop rows with NaN values
trainData.dropna(inplace = True)

trainData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18590 entries, 0 to 22749
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee ID           18590 non-null  object
 1   Date of Joining       18590 non-null  object
 2   Gender                18590 non-null  object
 3   Company Type          18590 non-null  object
 4   WFH Setup Available   18590 non-null  object
 5   Designation           18590 non-null  float64
 6   Resource Allocation   18590 non-null  float64
 7   Mental Fatigue Score  18590 non-null  float64
 8   Burn Rate             18590 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.4+ MB

In [ ]:
trainData

                    Employee ID  ... Burn Rate
0      fffe32003000360033003200  ...      0.16
1          fffe3700360033003500  ...      0.36
3      fffe32003400380032003900  ...      0.20
4      fffe31003900340031003600  ...      0.52
5          fffe3300350037003500  ...      0.29
...                         ...  ...       ...
22743      fffe3300390030003600  ...      0.48
22744  fffe32003500370033003200  ...      0.54
22746  fffe33003000350031003800  ...      0.59
22748  fffe33003300320036003900  ...      0.52
22749      fffe3400350031003800  ...      0.61

[18590 rows x 9 columns]

In [ ]:
def jobDuration(date0, date1):
    date0 = pd.to_datetime(date0)
    date1 = pd.to_datetime(date1)
    difference = date1 - date0
    return difference.days

In [ ]:
testData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12250 entries, 0 to 12249
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee ID           12250 non-null  object
 1   Date of Joining       12250 non-null  object
 2   Gender                12250 non-null  object
 3   Company Type          12250 non-null  object
 4   WFH Setup Available   12250 non-null  object
 5   Designation           12250 non-null  float64
 6   Resource Allocation   12250 non-null  float64
 7   Mental Fatigue Score  12250 non-null  float64
dtypes: float64(3), object(5)
memory usage: 765.8+ KB

In [ ]:
trainData['Date of Joining'].max()

'2008-12-31'

In [ ]:
dataset = [trainData, testData]

# max joining date was 2008-12-31. 2009-1-1 is taken as the upper limit of date
for data in dataset:
  data['Gender'] = [1 if (gender == 'Male') else 0  for gender in data['Gender']]
  data['Company Type'] = [1 if (companyType == 'Service') else 0  for companyType in data['Company Type']] 
  data['WFH Setup Available'] = [1 if (wfh == 'Yes') else 0  for wfh in data['WFH Setup Available']] 
  data['Date of Joining'] = pd.to_datetime(data['Date of Joining'])
  data['Job Duration'] = [jobDuration(d, '2009-1-1') for d in data['Date of Joining']]

In [ ]:
trainData

                    Employee ID Date of Joining  ...  Burn Rate  Job Duration
0      fffe32003000360033003200      2008-09-30  ...       0.16            93
1          fffe3700360033003500      2008-11-30  ...       0.36            32
3      fffe32003400380032003900      2008-11-03  ...       0.20            59
4      fffe31003900340031003600      2008-07-24  ...       0.52           161
5          fffe3300350037003500      2008-11-26  ...       0.29            36
...                         ...             ...  ...        ...           ...
22743      fffe3300390030003600      2008-12-15  ...       0.48            17
22744  fffe32003500370033003200      2008-05-27  ...       0.54           219
22746  fffe33003000350031003800      2008-01-19  ...       0.59           348
22748  fffe33003300320036003900      2008-01-10  ...       0.52           357
22749      fffe3400350031003800      2008-01-06  ...       0.61           361

[18590 rows x 10 columns]

# Feature Scaling and Normalization

In [ ]:
features = ['Gender', 'Company Type', 'WFH Setup Available', 'Designation', 'Resource Allocation', 
           'Mental Fatigue Score', 'Job Duration']

featureMin = trainData[features].min()
featureMax = trainData[features].max()
featureRange = featureMax - featureMin

# Normalization 
normalizedTrainData = (trainData[features] - featureMin)/ featureRange
X_test = (testData[features] - featureMin)/ featureRange

y = trainData['Burn Rate']
#X_train, X_valid, y_train, y_valid = train_test_split( train_df_norm, y, test_size=0.2, random_state=1234)

# Train Model